html,
body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.no-dec {
    text-decoration: none;
}

/*-----------------------------Index Page ----*/

.container {
    display: flex;
}

.bike_image {
    background: url("/client/assets/images/bicycleimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.headline {
    display: inline-grid;
    background-color: transparent;
    position: absolute;
    top: 300px;
    left: 150px;
}

/*------------------------------Maps Page-------*/

.header {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: inherit;
    color: #333;
}

.map_margin {
    margin-bottom: 5px;
}

.map_info {
    text-align: center;
}

/*-------------------------------------------Media Queries------------*/

@media(min-width: 320px) and (max-width: 439px) {
    .bike_image {
        background-position-x: -530px;
    }
    .headline {
        top: 175px;
        left: -7px;
    }
    .title {
        font-size: 20px;
    }
    .title_message {
        font-size: 14px;
    }
    .title_link {
        font-size: 12px;
    }
}

@media(min-width: 440px) and (max-width: 589px) {
    .bike_image {
        background-position-x: -475px;
    }
    .headline {
        top: 190px;
        left: 0px;
    }
    .title {
        font-size: 30px;
    }
    .title_message {
        font-size: 16px;
    }
    .title_link {
        font-size: 14px;
    }
}

@media(min-width: 590px) and (max-width: 710px) {
    .bike_image {
        background-position-x: center;
    }
    .headline {
        top: 190px;
        left: 40px;
    }
    .title {
        font-size: 25px;
    }
    .title_message {
        font-size: 16px;
    }
    .title_link {
        font-size: 14px;
    }
}

@media(min-width: 711px) and (max-width: 779px) {
    .bike_image {
        background-position-x: center;
    }
    .headline {
        top: 210px;
        left: 70px;
    }
    .title {
        font-size: 25px;
    }
    .title_message {
        font-size: 16px;
    }
    .title_link {
        font-size: 14px;
    }
}

@media(min-width: 780px) and (max-width: 900px) {
    .bike_image {
        background-position-x: center;
    }
    .headline {
        top: 170px;
        left: 120px;
    }
    .title {
        font-size: 25px;
    }
    .title_message {
        font-size: 18px;
    }
    .title_link {
        font-size: 16px;
    }
}

@media(min-width: 901px) and (max-width: 990px) {
    .bike_image {
        background-position-x: center;
    }
    .headline {
        top: 170px;
        left: 170px;
    }
    .title {
        font-size: 25px;
    }
    .title_message {
        font-size: 18px;
    }
    .title_link {
        font-size: 16px;
    }
}

@media(min-width: 991px) and (max-width: 1200px) {
    .headline {
        top: 220px;
        left: 160px;
    }
     .title {
        font-size: 25px;
    }
    .title_message {
        font-size: 18px;
    }
    .title_link {
        font-size: 16px;
    }
}

@media(min-width: 1201px) and (max-width: 1469px) {
    .headline {
        top: 290px;
        left: 200px;
    }
     .title {
        font-size: 36px;
    }
    .title_message {
        font-size: 24px;
    }
    .title_link {
        font-size: 18px;
    }
}

@media(min-width: 1470px) and (max-width: 1999px) {
    .headline {
        top: 225px;
        left: 50px;
    }
     .title {
        font-size: 40px;
    }
    .title_message {
        font-size: 30px;
    }
    .title_link {
        font-size: 22px;
    }
}

@media(min-width: 2000px) and (max-width: 2800px) {
    .headline {
        top: 400px;
        left: 150px;
    }
     .title {
        font-size: 50px;
    }
    .title_message {
        font-size: 35px;
    }
    .title_link {
        font-size: 26px;
    }
}
